.friends-list-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}

.friends-list {
  display: flex;
  overflow-x: auto;
  padding: 10px;
  gap: 20px;
}

.friend-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  transition: transform 0.3s;
}

.friend-card:hover {
  transform: scale(1.05);
}

.friend-card-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.friend-card-info {
  text-align: center;
  margin-top: 10px;
}

.friend-card-name {
  font-size: 16px;
  font-weight: bold;
}

.friend-card-username {
  font-size: 14px;
  color: #555;
  display: flex;
  align-items: center;
}

.certified-badge {
  width: 18px;
  height: 18px;
  margin-left: 5px;
}

.pagination-button {
  background-color: #1877f2;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 0 10px;
  display: flex;
  align-items: center;
}

.pagination-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
  color: #666;
}

.pagination-button:not(:disabled):hover {
  background-color: #155ab6;
}
